<style>
        *{
            margin: 0;
        }
        .blog{
            background-color: aqua;
            border-color: aliceblue;
            border-radius: 70px;
            margin-bottom: 15px;
            text-align: justify;
            padding: 30px 30px 30px 30px;
        }
        img{
            height: 150px;
            border: 15px solid black;
            border-radius: 250px;
        }
    </style>